<section class="thirteen columns">
    <h1>Data Science and Machine Learning skills</h1>
    <article>
        <header>
            <h1>Data Science</h1>
        </header>
        <p>
            <em>- Git proficiency</em>
        <p>
            <em>- Python Pandas, matplotlib, numpy, dask, bokeh </em>
        </p>
        <p>
            <em>- End to end Data pipleline, ETL, API and web scraping </em>
        </p>
        <p>
            <em>- Machine learning algorithms with Scikit-learn and Tensorflow </em>
        </p>
        <p>
            <em>- Spark, MySQL, PostgreSQL and Power BI</em>
        </p>
    </article>
</section>
